//Breakpoints
$break-mobile: 768px;
$break-1150: 1150px;
$break-1500: 1500px;

//Colors
$main-color: #F67B08;
$secondary-color: #272727;
$complimentary-color: #539FE6;

//Fonts
$ubuntu: 'Ubuntu';
$lato: 'Lato';