.section__first {
  background-color: $secondary-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-heading {
    font-family: $ubuntu;
    color: white;
    font-size: toRem(50);
    margin-bottom: toRem(20);
  }

  &-label {
    font-family: $lato;
    color: white;
  }
}